.jobs-grid {
  display: flex;
  flex-direction: row;
  margin: -20px -15px;
}

.jobs-grid .col {
  width: 50%;
  padding: 0 15px;
}

.jobs-grid .job {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  /* border-bottom: 1px solid var(--color-ruler); */
  margin: 20px 0;
  position: relative;
  padding-left: 30px;
}

.jobs-grid .job .year-counter {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(0, -50%) rotate(-90deg);
  margin-left: 20px;
  white-space: nowrap;
}

.jobs-grid .content {
  flex: 1;
}

.jobs-grid .heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.jobs-grid .heading h3 {
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 0;
}

.jobs-grid .heading a {
  font-size: 14px;
}

.jobs-grid .heading a i {
  display: inline-block;
  color: var(--color-link);
  margin-left: -5px;
}

.jobs-grid .detail {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* margin-bottom: 5px; */
}

.jobs-grid h4 {
  color: var(--color-gray-dark);
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.jobs-grid .period {
  color: var(--color-gray);
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
}

.jobs-grid .logo {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 3px;
  display: block;
  margin-right: 20px;
  margin-top: 5px;
}

.jobs-grid p {
  font-weight: normal;
  font-size: 13px;
}
