.jobs-grid {
  /* display: flex; */
  /* flex-direction: row;
  align-items: flex-start;
  margin: -20px -15px; */
}

.jobs-grid .col {
  /* width: 50%; */
  /* padding: 0 15px; */
  /* position: relative; */
}

.jobs-grid .col:before {
  content: '';
  position: absolute;
  height: calc(100% - 150px);
  width: 0;
  left: 35px;
  top: 50px;
  border-left: 1px dashed var(--color-ruler);
}

.jobs-grid .job {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  /* border-bottom: 1px solid var(--color-ruler); */
  position: relative;
  padding: 20px 0 20px 50px;
  page-break-inside: avoid;
}

.jobs-grid .job .year-counter {
  position: absolute;
  left: 0;
  top: 80px;
  height: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  transform: translateX(-50%);
}

.jobs-grid .job .year-counter .counter {
  display: block;
  position: relative;
  /* transform-origin: center center; */
  /* transform: rotate(-90deg); */
  /* background: var(--color-page); */
  padding: 0 15px;
  color: var(--color-gray-light);
  background: var(--color-white);
}

.jobs-grid .content {
  flex: 1;
}

.jobs-grid .heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.jobs-grid .heading h3 {
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 0;
}

.jobs-grid .heading a {
  font-size: 14px;
}

.jobs-grid .heading a i {
  display: inline-block;
  color: var(--color-link);
  margin-left: -5px;
}

.jobs-grid .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.jobs-grid h4 {
  color: var(--color-gray-dark);
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 0;
}

.jobs-grid .period {
  color: var(--color-gray);
  font-weight: normal;
  font-size: 13px;
  margin-top: 1px;
  margin-bottom: 0;
}

.jobs-grid .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jobs-grid .skills span {
  font-size: 12px;
  font-family: var(--font-face-mono);
  color: var(--color-gray-dark);
}

.jobs-grid .skills span:not(:last-child):after {
  content: ',';
  display: inline-block;
  margin-right: 5px;
  color: var(--color-gray);
}

.jobs-grid .logo {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 3px;
  display: block;
  margin-left: -50px;
  margin-right: 20px;
  margin-top: 5px;
}

.jobs-grid p {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 10px;
}
