.jobs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.jobs-list .job {
  width: calc(100% / 3);
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.jobs-list h3 {
  font-weight: normal;
  margin-bottom: 5px;
}

.jobs-list .period {
  color: var(--color-gray);
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 5px;
}

.jobs-list .job:last-child {
  margin-bottom: 0;
}

.jobs-list .logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.jobs-list p {
  font-weight: normal;
  font-size: 13px;
}
