<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimal-ui"
    />

    <title>{{basics.name}}</title>

    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <!-- Basics -->

    <div class="page">
      <a class="pdf-link" href="/curriculum-vitae.pdf" target="_blank">
        <span>PDF</span>
      </a>

      {{> header}}

      <div class="single-column">{{> section-profile}}</div>

      <!-- <div class="split-columns">
        <div class="column">{{> section-profile}}</div>
        <div class="column">{{> section-skills}}</div>
      </div> -->

      <div class="split-columns">
        <div class="column">{{> section-work start=0 end=4 title="Work"}}</div>
        <div class="column">{{> section-work start=4 end=null title=" "}}</div>
      </div>
    </div>

    <!-- Page 2 -->

    <div class="page">
      <header class="header-secondary">
        <h1>{{basics.name}}</h1>
        <h2>Miscellaneous</h2>
      </header>

      <div class="page-break"></div>

      <div class="split-columns">
        <div class="column">{{>section-endorsements}}</div>
        <div class="column">
          {{>section-projects}}
          <!--  -->
          {{> section-talks}}
          <!--  -->
          {{> section-awards}}
        </div>
      </div>
    </div>
  </body>
</html>
