<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimal-ui"
    />

    <title>{{basics.name}}</title>

    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <!-- Basics -->

    <div class="page">
      {{> header}}

      <div class="split-columns">
        <div class="column-left">
          <!-- Profile -->

          <section class="section-profile">
            <h2>Profile</h2>

            {{{markdown basics.summary}}}
          </section>

          <!-- Work -->

          <section class="section-work">
            {{#> items-list title='Work'}}
            <!--  -->
            {{#each work}}
            <!--  -->
            {{> list-item iconsDir='companies' subtitle=position}}
            <!--  -->
            {{/each}}
            <!--  -->
            {{/items-list}}
          </section>
        </div>

        <div class="column-right">
          <!-- Skills -->
          <section class="section-skills">
            <h2>Skills</h2>

            <div class="skills-list">
              {{#each skills}}
              <div class="skill">
                <div class="skill-tag">
                  <i class="icon-{{slug name}}"></i> {{name}}
                </div>

                {{#eachRange 5}}
                <div class="dot">
                  {{#lt this ../level}}
                  <div class="fill"></div>
                  {{/lt}}
                </div>
                {{/eachRange}}
              </div>
              {{/each}}
            </div>
          </section>

          <!-- Projects -->
          <section class="section-projects">
            {{#> items-list title='Projects'}}
            <!--  -->
            {{#each projects}}
            <!--  -->
            {{> list-item iconsDir='projects'}}
            <!--  -->
            {{/each}}
            <!--  -->
            {{/items-list}}
          </section>

          <!-- Talks -->
          <section class="section-talks">
            {{#> items-list title='Public speaking'}}
            <!--  -->
            {{#each talks}}
            <!--  -->
            {{> list-item iconsDir='talks' subtitle=topic}}
            <!--  -->
            {{/each}}
            <!--  -->
            {{/items-list}}
          </section>

          <!-- Education -->
          <!-- <section class="section-education">
            <h2>Education</h2>

            <div class="education-list">
              {{#each education}}
              <div class="education-entry">
                <h3>{{institution}}</h3>

                <p class="degree">{{studyType}}</p>

                <p class="text-meta">
                  {{date startDate 'MMM YYYY'}}
                  <span>-</span>
                  {{date endDate 'MMM YYYY''Present'}}
                </p>
              </div>
              {{/each}}
            </div>
          </section> -->
        </div>
      </div>
    </div>
  </body>
</html>
