@font-face {
    font-family: "icons";
    src: url("./icons.eot?7e1f140d6e45750e923fb8bbabfa4288?#iefix") format("embedded-opentype"),
url("./icons.woff2?7e1f140d6e45750e923fb8bbabfa4288") format("woff2"),
url("./icons.woff?7e1f140d6e45750e923fb8bbabfa4288") format("woff"),
url("./icons.ttf?7e1f140d6e45750e923fb8bbabfa4288") format("truetype"),
url("./icons.svg?7e1f140d6e45750e923fb8bbabfa4288#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-actionscript:before {
    content: "\f101";
}
.icon-adobe-suite:before {
    content: "\f102";
}
.icon-chevron-right:before {
    content: "\f103";
}
.icon-css:before {
    content: "\f104";
}
.icon-cucumber:before {
    content: "\f105";
}
.icon-detox:before {
    content: "\f106";
}
.icon-django:before {
    content: "\f107";
}
.icon-email:before {
    content: "\f108";
}
.icon-flask:before {
    content: "\f109";
}
.icon-github:before {
    content: "\f10a";
}
.icon-html5:before {
    content: "\f10b";
}
.icon-illustrator:before {
    content: "\f10c";
}
.icon-javascript:before {
    content: "\f10d";
}
.icon-jest:before {
    content: "\f10e";
}
.icon-less:before {
    content: "\f10f";
}
.icon-linkedin:before {
    content: "\f110";
}
.icon-micro-front-ends:before {
    content: "\f111";
}
.icon-mobx:before {
    content: "\f112";
}
.icon-mocha:before {
    content: "\f113";
}
.icon-nextjs:before {
    content: "\f114";
}
.icon-nodejs:before {
    content: "\f115";
}
.icon-phone:before {
    content: "\f116";
}
.icon-photoshop:before {
    content: "\f117";
}
.icon-php:before {
    content: "\f118";
}
.icon-pin:before {
    content: "\f119";
}
.icon-react-native:before {
    content: "\f11a";
}
.icon-react:before {
    content: "\f11b";
}
.icon-redux:before {
    content: "\f11c";
}
.icon-sassscss:before {
    content: "\f11d";
}
.icon-scss:before {
    content: "\f11e";
}
.icon-selenium:before {
    content: "\f11f";
}
.icon-sketch:before {
    content: "\f120";
}
.icon-stylus:before {
    content: "\f121";
}
.icon-typescript:before {
    content: "\f122";
}
.icon-vuejs:before {
    content: "\f123";
}
