@font-face {
    font-family: "icons";
    src: url("./icons.eot?c5e9e75b32a6dc456c352ee32325a85c?#iefix") format("embedded-opentype"),
url("./icons.woff2?c5e9e75b32a6dc456c352ee32325a85c") format("woff2"),
url("./icons.woff?c5e9e75b32a6dc456c352ee32325a85c") format("woff"),
url("./icons.ttf?c5e9e75b32a6dc456c352ee32325a85c") format("truetype"),
url("./icons.svg?c5e9e75b32a6dc456c352ee32325a85c#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\f101";
}
.icon-github:before {
    content: "\f102";
}
.icon-linkedin:before {
    content: "\f103";
}
.icon-phone:before {
    content: "\f104";
}
.icon-pin:before {
    content: "\f105";
}
