@font-face {
    font-family: "icons";
    src: url("./icons.eot?fb8ef4262c385e3eaf35716c2f3e9e08?#iefix") format("embedded-opentype"),
url("./icons.woff2?fb8ef4262c385e3eaf35716c2f3e9e08") format("woff2"),
url("./icons.woff?fb8ef4262c385e3eaf35716c2f3e9e08") format("woff"),
url("./icons.ttf?fb8ef4262c385e3eaf35716c2f3e9e08") format("truetype"),
url("./icons.svg?fb8ef4262c385e3eaf35716c2f3e9e08#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\f101";
}
.icon-email:before {
    content: "\f102";
}
.icon-github:before {
    content: "\f103";
}
.icon-linkedin:before {
    content: "\f104";
}
.icon-phone:before {
    content: "\f105";
}
.icon-pin:before {
    content: "\f106";
}
