header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 30px 65px;
  background-image: url(/assets/layout/header-abstracts.svg);
  background-position: center bottom;
  background-size: 100% auto;
  position: relative;
  margin-bottom: 0;
  page-break-before: always;
}

header h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 5px 0 10px;
  font-weight: normal;
  color: var(--color-white);
}

header h2 {
  font-size: 23.5px;
  color: var(--color-white);
  font-weight: 300;
}

header .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts {
  list-style: none;
  padding: 0;
  line-height: 18px;
  margin-bottom: 0;
  text-align: right;
  font-size: 12px;
}

.contacts,
.contacts a {
  color: var(--color-white);
}

.contacts:not(:last-child) {
  /* border-right: 1px solid rgba(255, 255, 255, 0.2); */
  padding-right: 10px;
  margin-right: 10px;
}

.contacts li a,
.contacts li div {
  display: flex;
  flex-direction: row-reverse;
}

.contacts a {
  font-weight: normal;
  vertical-align: middle;
}

.contacts i {
  /* color: rgba(255, 255, 255, 0.7); */
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin-left: 3px;
  font-size: 16px;
  margin-top: -3px;
  margin-bottom: -3px;
  top: 3px;
  position: relative;
}

header.header-secondary {
  background-image: url(/assets/layout/header-abstracts-tight.svg);
  padding: 30px 30px 60px;
}

header.header-secondary h1 {
  margin: 0;
  font-size: 20px;
}

header.header-secondary h2 {
  font-size: 20px;
}
