html,
body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  -webkit-print-color-adjust: exact;
}

.page {
  max-width: 935px;
  margin: 20px auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0 2px 5px;
  page-break-before: always;
  position: relative;
  overflow: hidden;
}

.page:after {
  position: absolute;
  width: 100%;
  padding-bottom: calc(100% * 297 / 210);
  left: 0;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  content: '';
  z-index: 1;
}

@page {
  size: auto;
  margin: 0;
}

@media print {
  body {
    background: var(--color-white);
  }

  .page {
    background: transparent;
    margin: 0;
    max-width: auto;
    box-shadow: none;
    box-shadow: none;
  }

  .page:after {
    display: none;
  }
}

section {
  display: block;
  padding: 15px 0;
}

section h2,
.items-list thead h2 {
  margin-bottom: 20px;
}

.single-column {
  padding: 0 30px;
}

.split-columns {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  flex-wrap: wrap;
}

.split-columns .column {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

.split-columns .column:first-child {
  padding-left: 0;
}

.split-columns .column:last-child {
  padding-right: 0;
}

.columns-heading {
  padding: 0 30px;
}

.split-columns .column-left {
  width: 55%;
}

.split-columns .column-right {
  flex: 1;
  margin-left: 20px;
}

.single-column {
  padding: 0 30px;
}

.section-work {
  margin-top: -30px;
}
