:root {
  /* Typography */
  --font-face-base: 'IBM Plex Sans';
  --font-face-special: 'IBM Plex Sans';
  --font-face-mono: 'IBM Plex Mono';

  /* Base palette */
  --color-white: #fff;
  --color-black: #000;
  --color-brand: #4e0aa3;
  --color-gray-dark: #666;
  --color-gray-darker: #333;
  --color-gray: #999;
  --color-gray-light: #ccc;
  --color-gray-lighter: #f0f0f0;
  --color-gray-lightest: #f5f5f5;

  /* Semantic colors */
  --color-text: var(--color-black);
  --color-ruler: var(--color-gray-lighter);
  --color-page: var(--color-white);
  --color-background: var(--color-gray-lightest);
  --color-link: var(--color-brand);
}
